USE [master]
GO
/****** Object:  Database [StudentDatabase]    Script Date: 2025/5/24 23:18:09 ******/
CREATE DATABASE [StudentDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\StudentDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\StudentDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentDatabase]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2025/5/24 23:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](5) NULL,
	[age] [int] NULL,
	[Gender] [nvarchar](5) NULL,
	[course] [nvarchar](5) NULL,
	[HomeAddress] [nvarchar](30) NULL,
	[Phone] [nvarchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
