USE [master]
GO
/****** Object:  Database [USERDatabase]    Script Date: 2025/5/24 23:19:39 ******/
CREATE DATABASE [USERDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'USERDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\USERDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'USERDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\USERDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [USERDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [USERDatabase]
GO
/****** Object:  Table [dbo].[usertable]    Script Date: 2025/5/24 23:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usertable](
	[Userid] [int] NULL,
	[Username] [nvarchar](5) NULL,
	[pwd] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
